
.last{
    background-color: #0ee8f0;
    margin-top: -100px;
    text-align: center;
}
.one{
    font-size: 30px;
    color: white;
    
}
.two{
    font-size: 30px;
    color: white;
    
}
.three{
    color: white;
    font-size: 30px;
}